.container {
    height: calc(100% - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
p {
    font-size: 5rem;
    color: #232323;
    font-weight: 900;
}
.button {
    width: 40%;
    border: 1px solid #000;
    padding: 10px;
    margin: 5px;
    text-align: center;
}