h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  top: 125px;
}

li {
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
  padding: 1rem;
}

h3 {
  font-size: .7rem;
  margin: 0 0 1rem;
}

p {
  font-size: .5rem;
  margin: 0;
}

.note-icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.empty-notes {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.empty-notes span,
.empty-notes h3 {
  margin: 10px;
}

.icon-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icon-container span {
  margin: 5px;
  font-size: 16px;
}

.icon-container .badge {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin: 5px;
}

.data {
  font-size: .7rem;
  font-weight: 200;
  margin-top: 10px;
  color: #232323;
}

input[type="text"],
input[type="number"] {
  width: 80%;
  padding: 9px;
  border: none;
  background-color: #f2f2f2;
  font-size: .7rem;
  margin-top: 24px;
  resize: vertical;
}

input[type="text"]:focus,
textarea:focus,
input[type="number"]:focus {
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  outline: none;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  margin: 0 auto;
}

.sort-bar {
  position: absolute;
  top: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.buttons button {
  font-size: 0.7rem;
  margin: 5px 10px;
}
.button-large {
  width: 72%;
  height: 50px;
  border: 1px solid #000;
  padding: 10px;
  margin: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
}
button {
  border: none;
  background: none;
}