<ng-container class="main-container">
    <div class="container note-section">
        <div class="header">
            <h3>Bentornato! Da dove vuoi iniziare oggi?</h3>
        </div>
        <div class="note-tool">
            <div class="tools">
                <div class="rect">
                    <div class="tool">
                        <span routerLink="/create" class="material-icons" >add</span>
                    </div>
                    <div class="desc">
                        Crea una nota
                    </div>
                </div>
                <div class="rect">
                    <div class="tool">
                        <span routerLink="/notes" class="material-icons">list_alt</span>
                    </div>
                    <div class="desc">
                        Le tue note
                    </div>
                </div>
                <div class="rect">
                    <div class="tool">
                        <span routerLink="/stats" class="material-symbols-outlined">chart_data</span>
                    </div>
                    <div class="desc">
                        Statistiche 
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Tecnica del pomodoro -->
    
    <div class="tomato-section">
        <div class="header">
            <h3>Prova la tecnica del pomodoro per aumentare la tua produttività!</h3>
        </div>
        <div class="tomato-tool">
            <img style="margin: -20px;" src="https://img.icons8.com/3d-fluency/94/null/tomato.png"/>
            <h3 class="sub-header">Con la tecnica del pomodoro dividerai le tue sessioni di studio/lavoro in due intervalli:</h3>
            <div class="activity-section">
                <div class="button">25 minuti di attività</div>
                <div class="button">5 minuti di break</div>
            </div>
            <h3 class="sub-header">Ciò ti permetterà di mantenere il focus e completare le attività.</h3>
        </div>
    </div>
</ng-container>