* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body, html {
    background-color: #f7f7f7;
    height: 100%;
    position: relative;
    overflow-x: hidden;
}