<div class="container">
  <form (ngSubmit)="onSubmit()">
    <div>
      <input
        placeholder="Titolo"
        type="text"
        id="title"
        [(ngModel)]="note.title"
        name="title"
      />
    </div>
    <div>
      <textarea
        id="content"
        [(ngModel)]="note.content"
        name="content"
        placeholder="Inizia a digitare.."
      ></textarea>
    </div>
    <div>
      <label class="priority" for="priority">Priorità: 1 minima, 5 massima</label>
      <select id="priority" [(ngModel)]="note.priority" name="priority" required>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
    <button type="submit">Salva le modifiche</button>
  </form>
</div>